<form style="width:20%;margin:auto" action="/drinks" method="POST">
  <div class="form-group">
    <label for="drinkName">Name</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="yearCreated">Year Invented</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Year Invented" name="year">
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Color" name="color">
  </div>
  <div style="padding-bottom:20px" class="form-group">
    <label for="sizes">Sizes</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Sizes" name="sizes">
  </div>

  <button type="submit" class="btn btn-default">Submit Your Drink!</button>
</form>
